<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.brzostek.broadcastreceiver">

    <uses-permission android:name="com.example.my_permissions.MY_PERMISSION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <receiver
            android:name="com.example.brzostek.broadcastreceiver.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.MY_CUSTOM_INTENT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>